.downloadIcon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.downloadBtn {
    font-family: "changeling-neo", sans-serif;
    text-transform: uppercase;
    background: linear-gradient(160deg, #002060, #0e4ea6, #A8CCED);
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: background 0.5s ease,color 0.3s ease, transform 0.5s ease,box-shadow 1s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
}

.downloadBtn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.downloadBtn:active {
    transform: scale(0.98);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}