body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.business-card {
    background: linear-gradient(160deg, #002060, #0e4ea6, #A8CCED);

    width: 375px;
    height: 200px;
    padding: 35px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

.logo {
    position: absolute;
    top: 35px;
    left: 40px;
    width: 55px;
}

.name {
    font-size: 20px;
    margin-top: 65px;

    font-family: "changeling-neo", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.position {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}

.contact-info a ,.phone a{
    display: block;
    color: white;
    text-decoration: none;
    /*margin-bottom: 5px;*/
    font-size: 14px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.phone {
    margin-bottom: 5px;
}

.contact-info a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.contact-info a:active {
    transform: scale(0.95);
}

.address {
    font-size: 12px;
    position: absolute;
    top: 35px;
    right: 40px;
    text-align: left;
    line-height: 16px;
}

.address a{
    text-decoration: none;
    color: white;
}

.qr-code {
    position: absolute;
    bottom: 31px;
    right: 40px;
}

.qr-code img{
    width: 80px;
    height: 80px;
}

.link:hover {
    color: #f0f0f0;
    text-decoration: underline;
    /*color: #ffd700; !* Change color on hover *!*/
}

.link:active {
    transform: scale(0.95); /* Slight scale-down on click */
    color: #ffffff;
    transition: transform 0.1s ease;
}
